h1 {
	font-family: footlight MT Light,Californian FB,serif;
	color: white;
	font-size: 500%;
	text-align: center;
	margin: 0%;
	background-color: black;
	opacity: 0.7;
}

ul{
	list-style: none;
	font-family: sans-serif;
	padding: 0%;
	text-align: center;
	margin:0%;
}

li{
	font-size: 250%;
	margin-top: 50px;
	margin-bottom: 50px;
}

a:link{
	color:black;
}

a:visited{
	color:purple;
}

a:hover{
	background-color: gray;
}

body{
	font-size: 100%;
	margin: 0px;
}

html{
	background: url(images/pizza3.jpg) repeat-x center center fixed;
	background-size: cover;
}

