h1 {
	font-family: footlight MT Light,Californian FB,serif;
	border-bottom: 1px solid black;
	text-align: center;
	color: black;
	font-size: 70px;
}

ul{
	text-align: center;
	list-style: none;
	line-height: 50px;
	font-size: 40px;
}

a:link{
	color: black;
}

a:visited{
	color:red;
}
body{
	background-image: url(../Images/pizza2.jpg);
}
