.vertical-menu ul{
	padding-left: 0%;
	text-align: center;
}

.vertical-menu {
  width: 100%; 
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none; 
}

.vertical-menu a:hover {
  background-color: #ccc;
}

body{
	margin: 1%;
	background-color: orange;

}

a:visited{
	color:purple;
}