header{
	border-bottom:1px solid black;
}

header h1{
	font-size: 40px;
}

nav ul{
	text-align: center;
	padding: 0%;
}

nav ul li{
	display: inline;
	margin-left: 75px;
	margin-right: 75px;
	font-size: 27px;
}
