header h1{
	text-align: center;
}

nav ul{
	list-style: none;
}


body{
	background-color:orange;
	font-family: sans-serif;
}

a:visited{
	color: purple;
}

dt{
	font-weight: bold;
}