header{
	border-bottom:1px solid black;
}

header h1{
	font-size: 250%;
	margin-top: 0%
}

nav ul{
	text-align: center;
	padding: 0%;
}

nav ul li{
	display: inline;
	margin-left: 75px;
	margin-right: 75px;
	font-size: 177%;
}

.menu ul{
	list-style: none;
	padding: 0%;
	line-height: 140%
}

.background{
	text-align: center;
	background-color: white;
	opacity: 0.7;
}



body{
	background: url(../images/menu-item.jpg) repeat-x center center fixed;
	background-size: cover;
	margin: 0%;
}

dt{
	margin-right: : 0%;
}

dd{
	margin: 0%
}

footer p{
	text-align: left;
	margin-left: 1%;
	margin-top: 4%;
	font-size: 70%;
	margin-bottom: 0%;
}

