header h1{
	text-align: center;
}

nav ul{
	list-style: none;
}

a:visited{
	color: red;
}

body{
	background-color:orange;
	font-family: sans-serif;
}



dt{
	font-weight: bold;
}
