h1{
	text-align: center;
	border-bottom: 1px solid black
}

p{
	font-family: sans-serif;
	font-size: 20px;
}

body{
	background-color: orange;
	font-family: sans-serif;
}

a:visited{
	color:red;
}

.homelink{
	text-align: center;
}
