h1{
	text-align: center;
}

nav ul{
	list-style: none;
}

p{
	font-family: sans-serif;
	font-size: 130%;
}

a:visited{
	color: purple;
}

body{
	background-color: orange;
	font-family: sans-serif;
}

img{
	max-width: 100%;
	height: auto;
}

