header{
	border-bottom:1px solid black;
}

header h1{
	font-size: 250%;
}

nav ul{
	padding: 0%;
	text-align: center;
}



nav ul li{
	display: inline;
	margin-left: 75px;
	margin-right: 75px;
	font-size: 177%;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown-content{
	  display: none;
	  position: absolute;
	  min-width: 100%;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content ul{
	background-color: white;
	opacity: 1;
	text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}

body{
	background-color: white;
	border:40px solid red;
	height: 100%;
	margin:0%;
}

html{
	height:100%;
}

footer p{
	margin-top: 16%;
	font-size: 70%;
}