h1{
	text-align: center;
}

nav ul{
	list-style: none;
}

ul{
	text-align: center;
	line-height: 25px;
	list-style: none;
	margin-right: 40px;
}

a:visited{
	color: red;
}

body{
	background-color: orange;
	font-family: sans-serif;
}
