header{
	border-bottom:1px solid black;
}

header h1{
	font-size: 250%;
	margin-top: 0%;
}

nav ul li{
	display: inline;
	margin-left: 75px;
	margin-right: 75px;
	font-size: 177%;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown-content{
	  display: none;
	  position: absolute;
	  min-width: 100%;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content ul{
	background-color: white;
	opacity: 1;
	text-align: center;
	padding: 0%;
	margin-right: 0%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.hours{
	line-height: 200%;
}

body{
	background: url(../images/hours.jpg) repeat-x center center fixed;
	background-size: cover;
	height:100%;
	margin:0%;
}

.background{
	background-color: white;
	opacity:0.7;
	height: 100%;
}

html{
	height: 100%
}

footer p{
	text-align: left;
	font-size: 70%;
	margin-top: 7%;
}