h1{
	text-align: center;
	border-bottom: 1px solid black;
}

ul{
	text-align: center;
	line-height: 25px;
	list-style: none;
	margin-right: 40px;
}

a:visited{
	color: red;
}

body{
	background-color: orange;
	font-family: sans-serif;
}

.homelink{
	text-align: center;
}

@media print{
	html{
		background-color: white;
		font-family: serif;
	}
}
