.dropdown-content{
	display: none;
}

nav .vertical-menu ul{
	padding: 0%;
	width:100%;
	margin:0%;
}

.vertical-menu li{
	text-align: center;
}


.vertical-menu {
  width: 100%; 
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none; 
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.hours{
	line-height: 200%;
}

body{
	margin:1%;
	background-color: orange;
}

a:visited{
	color: purple;
}

footer{
	margin-top: 30%;
}

footer p{
	text-align: left;
}