h1{
	text-align: center;
}

nav ul{
	list-style: none;
}

a:visited{
	color: purple;
}

ul{
	text-align: center;
	list-style: none;
	margin-right: 40px;
}


body{
	background-color: orange;
	font-family: sans-serif;
}

